@font-face {
  font-family: 'RobotoMono';
  src        : url('./fonts/RobotoMono-Thin.ttf');
}


* {
  font-family: 'RobotoMono', monospace;
}

body {
  display        : flex;
  height         : 100vh;
  justify-content: center;
  align-items    : center;
  text-align     : center;

  color     : #fff;
  background: linear-gradient(to right, rgb(86, 204, 242), rgb(47, 128, 237));
  ;
}